# vi: ft=yaml.docker-compose
---
version: '3'
services:
  lemaitre:
    image: ghcr.io/reproducible-bioinformatics/lemaitre:1.3.1
    volumes:
      - personal-tools:/local_tools/
    environment:
      - TOOL_DIR=/local_tools/
      - TOOL_CONF=/local_tools/my_tools.xml
    ports:
      - "8081:8000/tcp"
    restart: on-failure
  galaxy:
    privileged: true
    image: quay.io/bgruening/galaxy
    ports:
      - "8080:80/tcp"
      - "8021:21/tcp"
      - "8022:22/tcp"
    restart: on-failure
    volumes:
      - galaxy-storage:/export/
      - personal-tools:/local_tools/
    environment:
      - GALAXY_CONFIG_TOOL_CONFIG_FILE=/local_tools/my_tools.xml
      - GALAXY_CONFIG_BRAND=Reproducible Bioinformatics Galaxy
      - GALAXY_DOCKER_ENABLED=True

volumes:
  personal-tools:
  galaxy-storage:
